<ion-header>
  <ion-toolbar>
    <ion-title>Panier</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="panier-card">
    <img src="../../assets/icon/panier.png" class="panier-img">
    <ion-label class="panier">{{panier.TotalPizza}} Pizzas - Total: {{panier.TotalPrice.toFixed(2)}}€</ion-label>
  </ion-card>
  <ion-card *ngFor="let pizzaTransition of panier.Pizzas">
    <ion-card-header class="header-card">
      {{pizzaTransition.Pizza.Nom}}
    </ion-card-header>
    
    <ion-card-content>
        <img [src]="pizzaTransition.Pizza.Photo" class="img-lo">
    </ion-card-content>

    <ion-footer class="footer-card">
      <ion-icon name="remove-circle" class="icon-footer" (click)="deletePanier(pizzaTransition)"></ion-icon>
      <ion-label class="label-footer">{{pizzaTransition.Quantity}}</ion-label>
      <ion-icon name="add-circle" class="icon-footer" (click)="addingPanier(pizzaTransition)"></ion-icon>
    </ion-footer>
  </ion-card>
</ion-content>
