.img-lo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.header-card{
    text-align: center;
}

.footer-card{
    text-align: center;
}

.icon-footer{
    display: inline-block !important;
    vertical-align: middle;
}

.label-footer{
    vertical-align: middle;
    padding: 0 0.3em;
}

.panier-card{
    display: inline-block;
    width: 94%;
    text-align: center;
}

.panier{
  margin-left: 0.5em;
  vertical-align: middle;
}

.panier-img{
  max-width: 2em;
  vertical-align: middle;
}