img{
    max-width: 10%;
}

.footer-card{
    text-align: center;
}

.icon-footer{
    display: inline-block !important;
    vertical-align: middle;
}

.label-footer{
    vertical-align: middle;
    padding: 0px 0.3em;
}