<ion-header>
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Nom</ion-col>
      <ion-col>{{PizzaClick.nom}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Prix</ion-col>
      <ion-col>{{PizzaClick.prix}} €</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        Ingredient
      </ion-col>
      <ion-col>
        <div *ngFor="let ing of PizzaClick.ingredients">
          <ion-label>
            -{{ing.nom}}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img [src]="PizzaClick.photo">
</ion-content>
