img{
  max-width: 4em;
}

.rowPizza{
  border-bottom: 1px solid black;
}

.panier-card{
    display: inline-block;
    width: 94%;
    text-align: center;
}

.panier{
  margin-left: 0.5em;
  vertical-align: middle;
}

.panier-img{
  max-width: 2em;
  vertical-align: middle;
}

.admin-button{
  margin: 0 7.5em;
}