<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Livraison Pizza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div>
    <ion-card class="panier-card">
      <img src="../../assets/icon/panier.png" class="panier-img" (click)="goToPanier()">
      <ion-label class="panier">{{panier.TotalPizza}} Pizzas - Total: {{panier.TotalPrice.toFixed(2)}}€</ion-label>
    </ion-card>

    <div *ngIf="adminMode; else elseBlock">
      <ion-button color="success" (click)="switchTo('normal')">Normal MODE</ion-button>
      <ion-button class="buttonAdd" (click)="goToAddPizza()">create Pizza</ion-button>
    </div>
    <ng-template #elseBlock>
      <ion-button color="danger" class="admin-button" (click)="switchTo('admin')">ADMIN MODE</ion-button>
    </ng-template>

    <ion-card>
      <ion-grid *ngIf="allPizzas != null">
        <ion-row *ngFor="let piz of allPizzas" class="rowPizza">
          <ion-col>
            <strong>{{piz.nom}}</strong>
            <div>
              prix: {{piz.prix}} €
            </div>
          </ion-col>
          <ion-col (click)="goToDetails(piz)">
            <img [src]="piz.photo">
          </ion-col>
          <div>
            <div *ngIf="!adminMode; else elseBlock">
              <ion-button class="buttonAdd" (click)="addingPanier(piz)">
                Ajouté
              </ion-button>
            </div>
            <ng-template #elseBlock>
              <ion-button class="buttonAdd" (click)="updatePizza(piz)">
                Modifié
              </ion-button>
              <ion-button class="buttonAdd" (click)="deletePizza(piz)">
                Supprimé
              </ion-button>
            </ng-template>

          </div>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>